// BASE
// GLOBAL SETTINGS
// =================================================

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

*::selection {
	color: $color-white;
	background-color: $color-brand-1;
}

html,
body,
textarea,
select,
input,
button {
	font-family: $font-brand-1;
}

html {
	overflow-x: hidden;
	font-size: 10px;
	font-weight: 400;
	color: $color-white;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	font-size: 1rem;
	background: rgba($color-brand-1, 0.95);
	background: linear-gradient(-45deg, $color-brand-2 0%, $color-brand-1 90%);
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;

	&:hover {
		color: inherit;
	}
}

p {
	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	&:only-of-type {
		margin-bottom: 0;
	}
}
