// COMPONENTS
// BUTTON
// =================================================

.button {
	padding: 1rem 3rem;
	display: inline-block;
	text-decoration: none;
	font-size: 1.6rem;
	border-radius: 0.8rem;
	border: 0.2rem solid transparent;

	&__list {
		margin-top: 4rem;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		@include media('md') {
			flex-direction: column;
		}

		> * {
			@include media('md') {
				width: 40rem;
			}

			@include media('sm') {
				width: 90%;
			}

			&:not(:last-child) {
				margin-right: 2rem;

				@include media('md') {
					margin-right: 0;
					margin-bottom: 2rem;
				}
			}
		}

		&--column {
			flex-direction: column;
		}
	}

	&--dark {
		border-color: $color-brand-3;
		color: $color-brand-3;

		&:hover {
			color: $color-white;
			background-color: $color-brand-3;
		}
	}

	&--black {
		border-color: $color-black;
		color: $color-black;

		&:hover {
			color: $color-white;
			background-color: $color-black;
		}
	}
}
