// ABSTRACTS VARIABLES
// COLORS
// =================================================

// SHADES OF GRAY
/////////////////
$color-white: #ffffff;
$color-ghost: #f2f2f2;
$color-light: #dcdfe3;
$color-silver: #c0c0c0;
$color-gray: #63666a;
$color-dark: #353535;
$color-black: #000000;

// BRAND
/////////////////
$color-brand-1: #00c58e;
$color-brand-2: #108775;
$color-brand-3: #2f495e;
$color-brand-4: #2d3748;
$color-brand-5: #aeddff;
$color-brand-6: #7bc6ff;
$color-brand-7: #1697f6;

// STATUS
/////////////////
$color-error: tomato;
$color-success: teal;
