// ABSTRACTS VARIABLES
// FONTS
// =================================================

// FONTS
/////////////////
$font-ubuntu: 'Ubuntu', 'Trebuchet MS', sans-serif;
$font-lora: 'Lora', Georgia, serif;

// BRAND FONTS
/////////////////
$font-brand-1: $font-ubuntu;
$font-brand-2: $font-lora;
